<% if(error) { %>
  <div class="message">
    <%= error %>
  </div>
<% } %>

<% if(!expiry) { %>
  <form class="signup" method="post">
    <h1>Reset Password</h1>
    <label>Password</label>
    <input type="password" name="password" placeholder="Enter your new password" required>
    <label>Re-enter your password</label>
    <input type="password" name="repassword" placeholder="Re-enter your new password" required>
    <button type="submit">Reset</button>
  </form>
<% } %>
