<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/styles.css">
  <script src="https://accounts.google.com/gsi/client" async></script>
  <title>Auth app</title>
</head>
<body>
  <nav>
    <h2>Auth app</h2>
    <div class="nav-options">
      <a href="/auth/signup">Sign up</a>
      <a href="/auth/signin">Sign in</a>
    </div>
  </nav>
  <%- body %>
</body>
</html>

<!-- // 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 -->